 <div class="splash">
    <img  src="img/davitawave.png" alt="">
 </div>

 <div class="splash splash-base-color text-justify">
     <div class="row">
         <div class="col-sm-12 col-md-12 col-lg-8">
             <div class="container">
                 <div id="myCarousel" class="carousel slide">
                     <!-- Indicators -->
                     <ol class="carousel-indicators">
                         <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                         <li data-target="#myCarousel" data-slide-to="1"></li>
                         <li data-target="#myCarousel" data-slide-to="2"></li>
                         <li data-target="#myCarousel" data-slide-to="3"></li>
                         <li data-target="#myCarousel" data-slide-to="4"></li>
                     </ol>
                     <div class="carousel-inner">
                         <div class="item peopleCarouselImg active">
                             <img src="img/1.png" alt="First slide">
                         </div>
                         <div class="item peopleCarouselImg">
                             <img src="img/2.jpg" alt="First slide">
                         </div>
                         <div class="item peopleCarouselImg">
                             <img src="img/3.jpg" alt="First slide">
                         </div>
                         <div class="item peopleCarouselImg">
                             <img src="img/4.jpg" alt="First slide">
                         </div>
                         <div class="item peopleCarouselImg">
                             <img src="img/5.png" alt="First slide">
                         </div>
                     </div>
                     <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                     <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                 </div>
             </div>
         </div>
         <div class="col-sm-12 col-md-12 col-lg-4">
             <h1>Village Volunteers</h1>
             <p>This Is a place to find volunteering opportunities and give back to society the Davita way.</p>
             <p>
                 <a class="btn btn-lg btn-primary" href="/#events">View Events</a>
             </p>
         </div>
     </div>
 </div>

 <div class="splash splash-color-brown">

     <div class="container marketing qoutesContainer">

         <!-- Three columns of text below the carousel -->
         <div class="row">
             <div class="col-lg-4">
                 <div class="smallImageHolder">
                     <img src="img/1.png">

                 </div>
                 <p/>
                 <p>"We were blessed to serve the DaVita Community at a recent Volunteer event. : Team Kratos"</p>
             </div>
             <div class="col-lg-4">
                 <div class="smallImageHolder">
                     <img src="img/2.jpg">

                 </div>
                 <p/>
                 <p>"FalconEHR is proud to be associated with such a great Volunteer initiative. We receive all the time. Its time we give back ! : Team FalconEHR"</p>
             </div>
             <div class="col-lg-4">
                 <div class="smallImageHolder">
                     <img src="img/4.jpg">

                 </div>
                 <p/>
                 <p>"We were blessed to serve the DaVita Community at a recent Volunteer event. : Team Kratos"</p>
             </div>
         </div>
     </div>

 </div>



<!-- <div class="container marketing">

     <p class="featurette-divider">

     <div class="row featurette">
         <div class="col-md-7">
             <h2 class="featurette-heading">Some event Name. <span class="text-muted">Doing something at the event.</span></h2>
             <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
         </div>
         <div class="col-md-5">
             <img class="featurette-image img-responsive" src="img/1.png">
         </div>
     </div>

     <hr class="featurette-divider">

     <div class="row featurette">
         <div class="col-md-5">
             <img class="featurette-image img-responsive" src="img/2.jpg">
         </div>
         <div class="col-md-7">
             <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
             <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
         </div>
     </div>

     <hr class="featurette-divider">

     <div class="row featurette">
         <div class="col-md-7">
             <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
             <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
         </div>
         <div class="col-md-5">
             <img class="featurette-image img-responsive" src="img/3.jpg">
         </div>
     </div>-->






