<div class="row">
    <form name="registrationForm" class="form-signin col-md-6 col-md-offset-3">
        <h4 class="form-signin-heading">Register</h4>

        <div class="form-group">
            <div class="input-group">
                <input id="inputEmail2" type="text" ng-model="newUser.username" class="form-control" placeholder="Username" required>
                <span class="input-group-addon">@davita.com</span>
            </div>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" ng-model="newUser.password" placeholder="Password" required>
            <input type="password" class="form-control" ng-model="newUser.confirmPassword" placeholder="Confirm Password" required>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" ng-model="newUser.firstName" placeholder="First Name" required>
            <input type="text" class="form-control" ng-model="newUser.lastName" placeholder="Last Name" required>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" ng-model="newUser.phoneNumber" placeholder="Phone Number" required>

        </div>

        <div class="form-group">
            <label class="control-label" >Areas Interested in</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="Boy Scouts">
                    Boy Scouts
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="Advocacy and Human Rights">
                    Advocacy and Human Rights
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="Animals">
                    Animals
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="Education">
                    Education
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="Charity">
                    Charity
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="Others">
                    Others
                   </label>
            </div>
        </div>

        <div class="form-group">
            <label for="others" class="control-label">If Others is Checked</label>
            <textarea class="form-control" ng-model="newEvent.description" id= "others" rows="2"></textarea>

        </div>


        <div class="form-group">
            <label class="control-label" >Time Commitment</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="short-term">
                    Short term
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="medium-term">
                    Medium term
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="long-term">
                    Long term
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" >Distance willing to travel from home</label>
            <select class="form-control">
                <option>Less than 5 miles</option>
                <option>Upto 10 miles</option>
                <option>Upto 15 miles</option>
                <option>Upto 25 miles</option>
                <option>50 + miles</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" >Days Available to Volunteer</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="sunday">
                    Sunday
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="monday">
                    Monday
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="tuesday">
                    Tuesday
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="wednesday">
                    Wednesday
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="thursday">
                    Thursday
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="friday">
                    Friday
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="saturday">
                    Saturday
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" >Weekday Timeframe availability</label>
            <select class="form-control">
                <option>Morning</option>
                <option>Afternoon</option>
                <option>Evening (After 5 pm)</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" >Weekend Timeframe availability</label>
            <select class="form-control">
                <option>Morning</option>
                <option>Afternoon</option>
                <option>Evening (After 5 pm)</option>
            </select>
        </div>


<!--        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Option one is this and that&mdash;be sure to include why it's great
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Option two can be something else and selecting it will deselect option one
            </label>
        </div>-->



        <button class="btn btn-lg btn-primary btn-block" ng-disabled="registrationForm.$invalid || isUnchanged(newUser)" ng-click="register(newUser)">Register</button>
    </form>
</div>


